/*■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■ Search */
.search {
   padding-top: 20px;
   form {
      margin: 0 auto;
      max-width: 50%;
      display: flex;
      justify-content: center;
      font-size: 0.9rem;
      input {
         padding: 5px 10px;
         border-radius: 10px 0 0 10px;
         outline: none;
         border: 1px solid $dark-blue;
         border-right: none;
         &:focus {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.6);
         }
      }
      select {
         border: 1px solid $dark-blue;
         padding: 5px;
         border-right: none;
         outline: none;
         &:focus {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.6);
         }
      }
      button {
         outline: none;
         padding: 0 35px;
         border-radius: 0 10px 10px 0;
         border: 1px solid $dark-blue;
         background: $dark-blue;
         color: #ccc;
         cursor: pointer;
         transition: 0.2s;
         &:hover {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.4);
            color: #fff;
         }
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Store List */
.storeLst {
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px 20px;
   li {
      display: flex;
      padding: 10px;
      border: 1px solid $dark-blue;
      border-radius: 10px;
      transition: 0.2s;
      &:hover {
         box-shadow: 0 0 2px 2px rgba($light-blue, 0.4);
      }
      a {
         font-size: 1.4rem;
         color: $dark-blue;
      }
      img {
         margin-right: 10px;
      }
      .info {
         flex: 1;
         .strName {
            font-size: 1.5rem;
         }
         a {
            transition: 0.2s;
            &:hover {
               padding-left: 5px;
               text-shadow: 2px 1px 0 rgba($light-blue, 0.2);
            }
         }
      }
      .score {
         p {
            font-family: "Bebas Neue";
            font-size: 4rem;
            border-bottom: 5px solid #fff;
         }
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Store */
.store {
   display: flex;
   padding: 15px;
   border: 1px solid $dark-blue;
   border-radius: 15px;
   margin: 0 50px;
   img {
      margin-right: 20px;
   }
   .info {
      flex: 1;
      .strName {
         font-size: 2rem;
         font-family: "Bebas Neue";
      }
   }
   .score {
      p {
         font-family: "Bebas Neue";
         font-size: 4rem;
         border-bottom: 5px solid #fff;
      }
   }
}
article {
   padding: 20px;
}

/*■■■■■■■■■■■■■■■■■■■■ Bar */
.bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid rgba($dark-blue, 0.2);
}

/*■■■■■■■■■■■■■■■■■■■■ Review List */
.reviewLst {
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   margin-bottom: 20px;
   li {
      border: 1px solid $dark-blue;
      padding: 10px;
      border-radius: 10px;
      .info {
         display: flex;
         justify-content: space-between;
      }
      .strName {
         font-weight: bold;
         font-size: 0.8rem;
      }
      .desc {
         padding-top: 10px;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Add Review */
.new {
   width: 400px;
   margin: 20px auto 0;
   padding: 15px;
   border: 1px solid $dark-blue;
   border-radius: 10px;
   .frmT {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
   }
   input,
   label,
   textarea {
      display: block;
      font-size: 0.9rem;
      padding: 5px;
      outline: none;
   }
   label {
      padding-top: 15px;
   }
   input[type="text"] {
      width: 100%;
   }
   textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      min-height: 100px;
      max-height: 150px;
   }
   input[type="text"],
   textarea {
      border-radius: 5px;
      border: 1px solid #fff;
      &:focus {
         border-color: $dark-blue;
         box-shadow: 0 0 2px 2px $light-blue;
      }
   }
   button {
      color: #fff;
      cursor: pointer;
      margin: 20px auto 5px;
      display: block;
      font-size: 1rem;
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Pagination */
.pages {
   display: flex;
   margin: 0 auto;
   width: 500px;
   justify-content: center;
   align-items: center;
   background: #ccc;
   li {
      margin-right: 5px;
      &:last-child {
         margin-right: 0;
      }
   }
   a {
      display: block;
      background: $dark-blue;
      padding: 8px 10px;
   }
}
