/*■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■ Search */
.search {
   padding-top: 20px;
   form {
      margin: 0 auto;
      max-width: 50%;
      display: flex;
      justify-content: center;
      font-size: 0.9rem;
      input {
         padding: 5px 10px;
         border-radius: 10px 0 0 10px;
         outline: none;
         border: 1px solid $dark-blue;
         border-right: none;
         &:focus {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.6);
         }
      }
      select {
         border: 1px solid $dark-blue;
         padding: 5px;
         border-right: none;
         outline: none;
         &:focus {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.6);
         }
      }
      button {
         outline: none;
         padding: 0 35px;
         border-radius: 0 10px 10px 0;
         border: 1px solid $dark-blue;
         background: $dark-blue;
         color: #ccc;
         cursor: pointer;
         transition: 0.2s;
         &:hover {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.4);
            color: #fff;
         }
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Store List */
.storeLst {
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px 20px;
   li {
      display: flex;
      padding: 10px;
      border: 1px solid $dark-blue;
      border-radius: 10px;
      transition: 0.2s;
      &:hover {
         box-shadow: 0 0 2px 2px rgba($light-blue, 0.4);
      }
      img {
         margin-right: 10px;
      }
      .info {
         flex: 1;
         .strName {
            font-size: 1.5rem;
         }
      }
      .score {
         p {
            font-family: "Bebas Neue";
            font-size: 4rem;
            border-bottom: 5px solid #fff;
         }
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Pagination */
.pages {
   display: flex;
   margin: 0 auto;
   width: 500px;
   justify-content: center;
   align-items: center;
   background: #ccc;
   li {
      margin-right: 5px;
      &:last-child {
         margin-right: 0;
      }
   }
   a {
      display: block;
      background: $dark-blue;
      padding: 8px 10px;
   }
}
